// Name: current_location.ssc
// Author: Bill West
// License: Public Domain
// Version: 0.1
// Description: get the view location in RA/Dec and rotation


// poop current ra/dec location values to this file
var outputFilename = "{{output_filename}}";

var currentRa = core.getViewRaJ2000Angle();
var currentDec = core.getViewDecJ2000Angle();
var currentRotation = Oculars.getSelectedCCDRotationAngle();

core.output("{" + "\"ra\":" + currentRa + "," + "\"dec\":" + currentDec + "," + "\"rotation\":" + currentRotation + "}");
core.saveOutputAs(outputFilename);
core.resetOutput();

core.wait(5);
