// Name: Solver Move
// Author: Bill West
// License: Public Domain
// Version: 0.1
// Description: Move the view to the specified RA/Dec
//

var ra = "00h 42m 44s";
var dec = "41d 16m 9s";
var zoomArcMin = 6;
var zoomTransSec = 0;
var rotationAngle = 30;
var outputFilename = "solver.json";


core.moveToRaDec(ra, dec)
StelMovementMgr.zoomTo(zoomArcMin, zoomTransSec);

// use rotation data to set oculars frame to the current orientation
Oculars.setSelectedCCDRotationAngle(rotationAngle);

// send current ra/dec location to file
var current_ra = core.getViewRaJ2000Angle();
var current_dec = core.getViewDecJ2000Angle()
var current_rotation = Oculars.getSelectedCCDRotationAngle();


core.output("{" + "\"ra\":" + current_ra + "," + "\"dec\":" + current_dec + "," + "\"rotation\":" + current_rotation + "}");


core.saveOutputAs(outputFilename);
core.resetOutput();

core.wait(5);
