// Name: Snap to Solver
// Author: Bill West
// License: Public Domain
// Version: 0.1
// Description: Move the view to the specified RA/Dec
//

var ra = "{{ra}}";
var dec = "{{dec}}";
var rotationAngle = {{rotation_angle}};
var zoomArcMin = {{zoom_arc_min}};
var outputFilename = "{{output_filename}}";

var zoomTransSec = 0;

core.output("false");
core.saveOutputAs(outputFilename);
core.resetOutput();

core.moveToRaDec(ra, dec)
StelMovementMgr.zoomTo(zoomArcMin, zoomTransSec);

// use rotation data to set oculars frame to the current orientation
Oculars.setSelectedCCDRotationAngle(rotationAngle);

core.output("true");
core.saveOutputAs(outputFilename);
core.resetOutput();
